openapi: 3.2.0
info:
  title: Marketdata App Markets API
  termsOfService: https://www.marketdata.app/terms/
  version: '1.0'
  description: 'Operations tagged Markets across 2 of this provider''s published API definitions: marketdata-app-openapi-original.yml, marketdata-app-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.marketdata.app/v1
  description: Market Data API v1
tags:
- name: Markets
paths:
  /v1/markets/status/:
    get:
      operationId: v1_markets_status_retrieve
      description: Get market status ("open" or "closed") for a date or range of dates.
      parameters:
      - in: query
        name: format
        schema:
          type: string
          enum:
          - csv
          - json
        description: The format parameter is used to specify the format for your data. We support JSON and CSV formats. The default format is JSON.
      - in: query
        name: date
        schema:
          type: string
          format: date
        description: 'Use to lookup status from a specific trading day. Accepted date inputs: ISO 8601, unix, spreadsheet.'
      - in: query
        name: from
        schema:
          type: string
          format: date
        description: 'Limit the status to dates after from (inclusive). Should be combined with to to create a range. Accepted date inputs: ISO 8601, unix, spreadsheet.'
      - in: query
        name: to
        schema:
          type: string
          format: date
        description: 'Limit the status to dates before to (inclusive). Should be combined with from to create a range. Accepted date inputs: ISO 8601, unix, spreadsheet.'
      - in: query
        name: countback
        schema:
          type: integer
        description: Countback will fetch a number of dates before (to the left of) to. If you use from, countback is not required.
      - in: query
        name: country
        schema:
          type: string
        description: Use to specify the country of the exchange. Use the two digit ISO 3166 country code. If no country is specified, US exchanges will be assumed.
      - in: query
        name: dateformat
        schema:
          type: string
          enum:
          - spreadsheet
          - timestamp
          - unix
        description: The dateformat parameter allows you specify the format you wish to receive date and time information in.
      - in: query
        name: limit
        schema:
          type: integer
        description: The limit parameter allows you to limit the number of results for a particular API call or override an endpoint's default limits to get more data.
      - in: query
        name: offset
        schema:
          type: integer
        description: The offset parameter is used together with limit to allow you to implement pagination in your application. Offset will allow you to return values starting at a certain value.
      - in: query
        name: headers
        schema:
          type: boolean
        description: The headers parameter is used to turn off headers when using CSV output.
      - in: query
        name: columns
        schema:
          type: string
        description: The columns parameter is used to limit the results and only request the columns you need. The most common use of this feature is to embed a single numeric result from one of the end points in a spreadsheet cell.
      - in: query
        name: human
        schema:
          type: boolean
        description: Use human-readable attribute names in the JSON or CSV output instead of the standard camelCase attribute names.
      tags:
      - Markets
      security:
      - Api Authentication: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              examples:
                MarketStatus:
                  value:
                    s: ok
                    date:
                    - 1706745600
                    - 1706832000
                    - 1706918400
                    status:
                    - open
                    - open
                    - closed
                  summary: Market Status
            text/csv:
              schema:
                type: object
                additionalProperties: {}
          description: ''
      summary: V1 markets status retrieve
      x-summary-source: derived
  /markets/status/:
    get:
      operationId: getMarketStatus
      tags:
      - Markets
      summary: Market status
      description: Return whether the market is open or closed for a given date or date range. Responds with "open" for trading days and "closed" for weekends or market holidays. With no parameters, returns the current day's status for the United States market.
      parameters:
      - name: country
        in: query
        required: false
        description: ISO country code for the market to check. Defaults to US.
        schema:
          type: string
      - name: date
        in: query
        required: false
        description: A single date to check.
        schema:
          type: string
      - name: from
        in: query
        required: false
        description: The leftmost (earliest) date of the date range.
        schema:
          type: string
      - name: to
        in: query
        required: false
        description: The rightmost (latest) date of the date range.
        schema:
          type: string
      responses:
        '200':
          description: Market open/closed status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketStatusResponse'
        '203':
          description: Cached market status (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.marketdata.app/v1
      description: Market Data API v1
components:
  responses:
    TooManyRequests:
      description: Credit allocation or simultaneous-request limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed or the token is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    MarketStatusResponse:
      type: object
      description: Market open/closed status payload.
      properties:
        s:
          type: string
          description: Status of the response.
        date:
          type: array
          items:
            type: integer
        status:
          type: array
          description: One of open, closed, or null for dates outside available data.
          items:
            type: string
    ErrorResponse:
      type: object
      properties:
        s:
          type: string
          description: Always error for failed requests.
        errmsg:
          type: string
          description: Human-readable error message.
  securitySchemes:
    Api_Authentication:
      type: apiKey
      in: query
      name: token
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token generated in the Market Data dashboard. Passed as Authorization Bearer YOUR_API_TOKEN. A token may also be supplied via the token query parameter.
x-refined-from:
- marketdata-app-openapi-original.yml
- marketdata-app-openapi.yml
