openapi: 3.0.3
info:
  title: Market Data API
  description: >-
    The Market Data API delivers real-time and historical U.S. stock, options,
    and index market data over a simple REST interface. All endpoints are served
    from https://api.marketdata.app/v1 and return JSON (or CSV) responses. Most
    endpoints require only a ticker symbol as a path parameter. Requests are
    authenticated with a Bearer token generated in the Market Data dashboard.
    Coverage spans stock candles and quotes (single and bulk), corporate
    earnings and news, full options chains with per-contract quotes,
    expirations, strikes and OCC symbol lookup, index candles and quotes, and
    market open/closed status. Note that Market Data may return HTTP 203
    Non-Authoritative Information (instead of 200 OK) when a response is served
    from its caching tier; clients must treat 203 as success.
  version: '1.0'
  contact:
    name: Market Data
    url: https://www.marketdata.app
  termsOfService: https://www.marketdata.app/terms/
servers:
  - url: https://api.marketdata.app/v1
    description: Market Data API v1
security:
  - bearerAuth: []
tags:
  - name: Stocks
    description: Real-time and historical stock candles, quotes, bulk data, earnings, and news.
  - name: Options
    description: Options chains, per-contract quotes, expirations, strikes, and OCC symbol lookup.
  - name: Indices
    description: Real-time and historical index candles and quotes.
  - name: Markets
    description: Reference and status data about the markets covered by Market Data.
paths:
  /stocks/candles/{resolution}/{symbol}/:
    get:
      operationId: getStockCandles
      tags:
        - Stocks
      summary: Stock candles
      description: >-
        Retrieve open, high, low, close, and volume (OHLCV) candlestick data for
        a stock over a given date range at the requested resolution (e.g. daily,
        hourly, or minute intervals).
      parameters:
        - name: resolution
          in: path
          required: true
          description: Candle resolution such as D (daily), W, M, or a minute/hour value.
          schema:
            type: string
        - name: symbol
          in: path
          required: true
          description: The company's ticker symbol.
          schema:
            type: string
        - name: from
          in: query
          required: false
          description: The leftmost (earliest) date of the date range.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: The rightmost (latest) date of the date range.
          schema:
            type: string
      responses:
        '200':
          description: OHLCV candle series.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandlesResponse'
        '203':
          description: Cached OHLCV candle series (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandlesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /stocks/quotes/{symbol}/:
    get:
      operationId: getStockQuote
      tags:
        - Stocks
      summary: Stock quote
      description: >-
        Fetch a real-time or historical quote for a single stock symbol,
        including last price, bid, ask, volume, and change.
      parameters:
        - name: symbol
          in: path
          required: true
          description: The company's ticker symbol.
          schema:
            type: string
      responses:
        '200':
          description: A quote for the requested symbol.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
        '203':
          description: Cached quote (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /stocks/bulkquotes/:
    get:
      operationId: getStockBulkQuotes
      tags:
        - Stocks
      summary: Bulk stock quotes
      description: >-
        Fetch real-time quotes for many stock symbols in a single request. Each
        symbol included in the response consumes credits.
      parameters:
        - name: symbols
          in: query
          required: true
          description: Comma-separated list of ticker symbols.
          schema:
            type: string
      responses:
        '200':
          description: Quotes for the requested symbols.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
        '203':
          description: Cached bulk quotes (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /stocks/bulkcandles/{resolution}/:
    get:
      operationId: getStockBulkCandles
      tags:
        - Stocks
      summary: Bulk stock candles
      description: >-
        Fetch candlestick data for many stock symbols at once for a single date
        at the requested resolution. Each symbol in the response consumes credits.
      parameters:
        - name: resolution
          in: path
          required: true
          description: Candle resolution such as D (daily).
          schema:
            type: string
        - name: symbols
          in: query
          required: true
          description: Comma-separated list of ticker symbols.
          schema:
            type: string
      responses:
        '200':
          description: Candles for the requested symbols.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandlesResponse'
        '203':
          description: Cached bulk candles (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandlesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /stocks/earnings/{symbol}/:
    get:
      operationId: getStockEarnings
      tags:
        - Stocks
      summary: Stock earnings
      description: >-
        Retrieve reported and estimated earnings data (EPS, report date, fiscal
        period) for a stock symbol.
      parameters:
        - name: symbol
          in: path
          required: true
          description: The company's ticker symbol.
          schema:
            type: string
      responses:
        '200':
          description: Earnings data for the requested symbol.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '203':
          description: Cached earnings data (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /stocks/news/{symbol}/:
    get:
      operationId: getStockNews
      tags:
        - Stocks
      summary: Stock news
      description: Retrieve news headlines and article links related to a stock symbol.
      parameters:
        - name: symbol
          in: path
          required: true
          description: The company's ticker symbol.
          schema:
            type: string
      responses:
        '200':
          description: News items for the requested symbol.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '203':
          description: Cached news items (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /options/expirations/{underlyingSymbol}/:
    get:
      operationId: getOptionExpirations
      tags:
        - Options
      summary: Option expirations
      description: >-
        Get a list of current or historical option expiration dates for an
        underlying symbol. With no optional parameters, returns all expiration
        dates in the option chain.
      parameters:
        - name: underlyingSymbol
          in: path
          required: true
          description: The underlying ticker symbol for the options chain.
          schema:
            type: string
      responses:
        '200':
          description: Expiration dates for the underlying.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '203':
          description: Cached expiration dates (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /options/lookup/{userInput}/:
    get:
      operationId: getOptionLookup
      tags:
        - Options
      summary: Option symbol lookup
      description: >-
        Convert a human-readable string containing a stock symbol, strike,
        expiration date, and option side (put or call) into a valid OCC option
        symbol.
      parameters:
        - name: userInput
          in: path
          required: true
          description: Human-readable option description, e.g. "AAPL 7/28/23 $200 Call".
          schema:
            type: string
      responses:
        '200':
          description: The resolved OCC option symbol.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '203':
          description: Cached lookup result (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /options/strikes/{underlyingSymbol}/:
    get:
      operationId: getOptionStrikes
      tags:
        - Options
      summary: Option strikes
      description: >-
        Get a list of current or historical option strike prices for an
        underlying symbol. With no optional parameters, returns the strikes for
        every expiration in the chain.
      parameters:
        - name: underlyingSymbol
          in: path
          required: true
          description: The underlying ticker symbol for the options chain.
          schema:
            type: string
        - name: expiration
          in: query
          required: false
          description: Limit strikes to a single expiration date.
          schema:
            type: string
      responses:
        '200':
          description: Strike prices for the underlying.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '203':
          description: Cached strike prices (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /options/chain/{underlyingSymbol}/:
    get:
      operationId: getOptionChain
      tags:
        - Options
      summary: Option chain
      description: >-
        Get a current or historical end-of-day option chain for an underlying
        ticker symbol, with extensive optional filtering (expiration, strike
        range, side, moneyness, delta, and more). Each option symbol included in
        the response consumes credits, so large chains such as SPX can be
        expensive.
      parameters:
        - name: underlyingSymbol
          in: path
          required: true
          description: The underlying ticker symbol for the options chain.
          schema:
            type: string
        - name: expiration
          in: query
          required: false
          description: Filter the chain to a single expiration date.
          schema:
            type: string
        - name: side
          in: query
          required: false
          description: Filter to call or put contracts.
          schema:
            type: string
            enum:
              - call
              - put
      responses:
        '200':
          description: The option chain for the underlying.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionQuoteResponse'
        '203':
          description: Cached option chain (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionQuoteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /options/quotes/{optionSymbol}/:
    get:
      operationId: getOptionQuote
      tags:
        - Options
      summary: Option quote
      description: >-
        Get a real-time or historical (end-of-day) quote for a single option
        contract identified by its OCC option symbol, including bid, ask, last,
        volume, open interest, and Greeks.
      parameters:
        - name: optionSymbol
          in: path
          required: true
          description: The OCC option symbol, e.g. AAPL230728C00200000.
          schema:
            type: string
      responses:
        '200':
          description: Quote for the requested option contract.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionQuoteResponse'
        '203':
          description: Cached option quote (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionQuoteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /indices/candles/{resolution}/{symbol}/:
    get:
      operationId: getIndexCandles
      tags:
        - Indices
      summary: Index candles
      description: >-
        Retrieve OHLC candlestick data for an index over a date range at the
        requested resolution.
      parameters:
        - name: resolution
          in: path
          required: true
          description: Candle resolution such as D (daily).
          schema:
            type: string
        - name: symbol
          in: path
          required: true
          description: The index symbol, e.g. VIX or SPX.
          schema:
            type: string
        - name: from
          in: query
          required: false
          description: The leftmost (earliest) date of the date range.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: The rightmost (latest) date of the date range.
          schema:
            type: string
      responses:
        '200':
          description: OHLC candle series for the index.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandlesResponse'
        '203':
          description: Cached index candles (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandlesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /indices/quotes/{symbol}/:
    get:
      operationId: getIndexQuote
      tags:
        - Indices
      summary: Index quote
      description: >-
        Fetch a real-time or historical quote for a single index symbol,
        including last value and change.
      parameters:
        - name: symbol
          in: path
          required: true
          description: The index symbol, e.g. VIX or SPX.
          schema:
            type: string
      responses:
        '200':
          description: A quote for the requested index.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
        '203':
          description: Cached index quote (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /markets/status/:
    get:
      operationId: getMarketStatus
      tags:
        - Markets
      summary: Market status
      description: >-
        Return whether the market is open or closed for a given date or date
        range. Responds with "open" for trading days and "closed" for weekends
        or market holidays. With no parameters, returns the current day's status
        for the United States market.
      parameters:
        - name: country
          in: query
          required: false
          description: ISO country code for the market to check. Defaults to US.
          schema:
            type: string
        - name: date
          in: query
          required: false
          description: A single date to check.
          schema:
            type: string
        - name: from
          in: query
          required: false
          description: The leftmost (earliest) date of the date range.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: The rightmost (latest) date of the date range.
          schema:
            type: string
      responses:
        '200':
          description: Market open/closed status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketStatusResponse'
        '203':
          description: Cached market status (treat as success).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        Bearer token generated in the Market Data dashboard. Passed as
        Authorization Bearer YOUR_API_TOKEN. A token may also be supplied via the
        token query parameter.
  responses:
    Unauthorized:
      description: Authentication failed or the token is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Credit allocation or simultaneous-request limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    CandlesResponse:
      type: object
      description: Column-oriented OHLCV candle series.
      properties:
        s:
          type: string
          description: Status of the response - ok, no_data, or error.
        t:
          type: array
          description: Candle timestamps (Unix seconds).
          items:
            type: integer
        o:
          type: array
          description: Open prices.
          items:
            type: number
        h:
          type: array
          description: High prices.
          items:
            type: number
        l:
          type: array
          description: Low prices.
          items:
            type: number
        c:
          type: array
          description: Close prices.
          items:
            type: number
        v:
          type: array
          description: Volume.
          items:
            type: integer
    QuoteResponse:
      type: object
      description: Column-oriented quote payload.
      properties:
        s:
          type: string
          description: Status of the response.
        symbol:
          type: array
          items:
            type: string
        last:
          type: array
          items:
            type: number
        bid:
          type: array
          items:
            type: number
        ask:
          type: array
          items:
            type: number
        volume:
          type: array
          items:
            type: integer
        updated:
          type: array
          items:
            type: integer
    OptionQuoteResponse:
      type: object
      description: Column-oriented option contract quote payload.
      properties:
        s:
          type: string
          description: Status of the response.
        optionSymbol:
          type: array
          items:
            type: string
        underlying:
          type: array
          items:
            type: string
        expiration:
          type: array
          items:
            type: integer
        side:
          type: array
          items:
            type: string
        strike:
          type: array
          items:
            type: number
        bid:
          type: array
          items:
            type: number
        ask:
          type: array
          items:
            type: number
        last:
          type: array
          items:
            type: number
        openInterest:
          type: array
          items:
            type: integer
        iv:
          type: array
          items:
            type: number
        delta:
          type: array
          items:
            type: number
    MarketStatusResponse:
      type: object
      description: Market open/closed status payload.
      properties:
        s:
          type: string
          description: Status of the response.
        date:
          type: array
          items:
            type: integer
        status:
          type: array
          description: One of open, closed, or null for dates outside available data.
          items:
            type: string
    GenericResponse:
      type: object
      description: Generic column-oriented Market Data response keyed by status flag s.
      properties:
        s:
          type: string
          description: Status of the response - ok, no_data, or error.
    ErrorResponse:
      type: object
      properties:
        s:
          type: string
          description: Always error for failed requests.
        errmsg:
          type: string
          description: Human-readable error message.
